/**
 * main.less
 * Aduno project (http://aduno.meteor.com)
 * @author Braden Simpson (@bradensimpson)
 */

//--------------------------- Mixins ---------------------------// 
.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.transition-all (@length: .25s) {
	transition: all @length;
	-webkit-transition: all @length;
	-moz-transition: all @length;	
}
.abspos-left {
	position:absolute;
	top:0;
	left:0;
}
.abspos-right {
	position:absolute;
	top:0;
	right:0;
}
.unselectable {
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.box-shadow (@x, @y, @blur, @sat, @color) {
	-moz-box-shadow: @x @y @blur @sat @color;
	-webkit-box-shadow: @x @y @blur @sat @color;
	box-shadow: @x @y @blur @sat @color;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @sat: 1px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
}

//--------------------------- Colors ---------------------------// 

@orange		: orange;
@white		: white;
@lightgrey: lightgrey;
@darkblue : slateblue;
@darkgrey : darkgrey;
@login-gradient1 : #E34C00;
@login-gradient2 : #FFDD00;

//--------------------------- Links ---------------------------// 

a {
	.transition-all;
  text-decoration: none !important;
}
a.darkLink {
  color: @lightgrey;
}
a.lightLink {
  color: @darkblue;
}
a:hover {
  color:@orange;
}

//--------------------------- Banner ---------------------------// 
.loading-bar {
  background-color: papayaWhip;
  font-size:14px; 
  color:black;
  text-shadow:0 -1px 0 white; 
  position:absolute;
  left:48%;
  top:0;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  z-index:9999;
  padding:3px;
}
.adunoTitle {
  color: @orange;
  text-shadow: 0 1px 0 white;
}
.logo-nav{
  background: url('/aduno-logo-nav.png');
}

#aduno-logo {
  cursor:pointer;
}

.mainBanner {
  padding-bottom:30px;
  min-width:660px;
}
.topForm {
  width:100%;
  margin-top:20px;
  display:inline-block;
  margin-right:50px;
  min-width:660px;
}
.peopleList li {
  list-style-type:none;
}
.navbar .nav > li > a.btn {
  float: none;
  padding: 4px 15px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin-left: 5px;
  vertical-align: baseline;
}

.navbar .nav > li > a.logoutButton:hover {
  background-color: #BD362F;
  color: white;
}
.navbar .nav > li > a.configButton:hover {
  color: white;
  background-color: #2F96B4;
}
.navbar .nav > li > a.loginButton:hover {
  background-color: #51A351;
  color: white;
}

//--------------------------- Login Splash ---------------------------//

.jumbotron {
  position: relative;
  padding: 40px 0 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: @login-gradient1; /* Old browsers */
  background: -moz-linear-gradient(45deg,  @login-gradient1 0%, @login-gradient2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@login-gradient1), color-stop(100%,@login-gradient2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* IE10+ */
  background: linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@login-gradient1', endColorstr='@login-gradient2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url() repeat center center;
  opacity: .4;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 100px 0 50px 0;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

.masthead .btn {
  line-height: 25px;
}

.splash-logo {
  background: url('/aduno-logo.png');
}

.button_subtext {
  font-size: 12px;
  color: #ccc;
}


//--------------------------- WorkItems ---------------------------//

.synchronized {
	background: #2CC03E;
border-color: #259A33;
border-right-color: #2CC03E;
border-bottom-color: #2CC03E;
}

#work-item-title-editor, #work-item-description-editor {
	display:none;
	position:absolute;
	padding:5px;
	z-index:9999999;
  textarea {
	  font-size:12px;
	}
}
#work-item-description-editor {
  textarea {
    height:100px;
  }
}
.workItem {
  .workItemTitle {
    margin-top:25px;
    font-size:14px;
    text-shadow: 0 1px 0 white;
    border-radius:3px;
  }
  .workItemTitle:hover {
    background-color: rgba(0,0,0,.05);
  }
  .workItemID {
    display:none;   /* Temporarily disable this as we don't need it for debugging right now */
    font-size:10px;
    color:darkgrey;
  }
  .btn-toolbar {
    margin:0;
	  opacity: .5;
    .abspos-left;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
  }
  .linkWI {
    border-bottom-left-radius:0 !important;
  }
  .actions {
    border-top-right-radius:0 !important;
  }
  p {
    font-size:12px;
    min-height:20px;
    border-radius:3px;
  }
  p:hover {
    background-color: rgba(0,0,0,.05);
  }
  .editing-div {
    position:absolute;
    left: 0px;
    bottom:0px;
    .editing-list {
      margin-bottom:0;
      li {
        display:inline-block;
      }
    }
  }
	.abspos-left;
  .border-radius(4px);
  .unselectable;
  overflow: hidden;
  width: 215px;
  min-height: 143px;
  max-height:171px;
  padding: 1px 5px;
  background-color: @lightgrey;
  border: thin solid @darkgrey;
  .box-shadow(0, 0, 5px, 1px, rgb(180, 180, 250));
}
.workItem:hover .btn-toolbar {
  opacity:1;  
}
.top {
  z-index: 2;
}
.bottom {
  z-index: 1;
}
a.wiDelete {
  .abspos-right;
  opacity:.6;  
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:0;
}
a.wi-sync {
  .abspos-right;
  opacity: .6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  right:19px;
}
a.wiDelete:hover, a.wi-sync:hover {
  opacity:1;
}
//--------------------------- Workboard ---------------------------// 
.workboard-toolbar {
	margin-bottom:10px;
  margin-left: 216px;
}
.canvas-container {
  margin:40px 0 0 0;
  padding:20px 0 20px 0;
  width:100%;
  border:none;
}
.canvas-container > canvas {
  background-color: rgb(250,250,250);
  border: 1px solid #EEE;
  .border-radius(4px);
	.inner-shadow(0, 0, 1px, 1px, 0.05);
}
//--------------------------- Workflow ---------------------------// `
.workflow-panel {
  display: block;
  vertical-align: top;
  width: 197px;
  padding:0;
  .filter-labels {
    padding-right: 0;
  }
	li > a:hover {
	  background-color: fade(orange, 20%) !important;
	}
	li:hover a.label-delete, li:hover a.editLabelBtn {
	  display:block;
	} 
	li:nth-child(2n) > a {
	  background-color: rgba(0,0,0,.02);
	  border-top: 1px solid lightgrey;
	  border-bottom: 1px solid lightgrey;
	}
	li:nth-child(2n+1) > a {
	  border-top:1px solid white;
	  border-bottom:1px solid white;
	}
	li:last-child > a {
	  border-bottom:none;
  }
  li.active > a {
    background-color:fade(@orange, 80%) !important
  }
	li > a {
	  color: #444;
	  font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
	}
  a.editLabelBtn {
    cursor: pointer;
    border:none !important;
    position:relative;
    right:21px;
    display:none;
    border:none;
    float:right;
    padding:2px;
    top:1px;
    height:16px;
    width:19px;
  }
  a.editLabelBtn:hover {
    background-color: rgba(100, 255, 100, .5) !important;
  }
  a.label-delete:hover {
    background-color: rgba(255, 100, 100, .5) !important;
  }
  a.label-delete {
    right:0px;
    text-align:center;
    padding:3px;
    top:1px;
    width:15px;
    float:right;
    cursor:pointer;
    position:relative;
    display:none;
    border:none !important;
  }
}
//--------------------------- Dialogs ---------------------------// 

#wiDetailsDialog, #newLabelDialog, #warningDialog {
  display:none;
}

#wiDetailsDialog {
  textarea {
    min-height:100px;
  }
  .add-label, .add-link {
    cursor: pointer;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    vertical-align: baseline;
    color:grey;
  }
  .add-label:hover, .add-link:hover { 
    background-color: rgba(0, 150, 0, 0.2);
  }
}

#label-selection-dialog {
  li {
    cursor: pointer;
  }
}
ul.tags {
  list-style:none;
  margin:0;
}
ul.tags li {
  display: block;
  padding: 4px 8px;
  width:206px;
}
ul.tags li a.meta {
  float: right;
  color: #bbb;
  width: 15px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
} 
ul.tags li:hover {
  background: #f0f0f0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}       
ul.tags li a.delete:hover {
  background:rgba(255,0,0,.5);
  color: white;
}
#select-repo-dialog { 
  .repo-grid-item {
    margin-bottom: 5px; 
    width: 24%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

//--------------------------- About ---------------------------// 

.about {
  h1, h2, h3 {
    color:white;
    text-shadow: 0 1px 2px black;
  }
  .tech li {
    list-style-type:none;
  }
  .darkWell {
    min-height:150px;
  }
  .box-shadow(-5px, 0, 20px, 1px, rgb(50,50,50));
  background: url('/px_by_Gre3g.png');
  border-top:1px dashed grey;
  min-height:400px;
  width:90%;
  padding:5%;
  font-size:14px;
}

//--------------------------- Getting Started ---------------------------// 

.getting-started {
	.well {
    min-height: 150px;
	}
	h1, h2, h3 {
    color:black;
    text-shadow: 0 1px 2px white;
  }
  .box-shadow(-5px, 0, 20px, 1px, rgba(255,255,255,.5));
	border-top:1px dashed grey;
	min-height:400px;
	width:90%;
	padding:5%;
	font-size:14px;
	background-color: #EEE;
}

//--------------------------- Left Menu ---------------------------// 
#left-menu {
  width: 212px;
  height: 1000px;
  display:inline-block;
  vertical-align:top;
}

//--------------------------- Components ---------------------------// 

.darkWell {
  background-color: rgba(0,0,0,.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  color:slategrey;
}
/*
::-webkit-scrollbar-corner {
  background: transparent;
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(0,0,0,.4);
}
::-webkit-scrollbar-thumb {
	background-color:  rgba(0, 0, 0, .2);
	background-clip: padding-box;
	border: solid transparent;
	border-width: 1px 3px 1px 3px;
	min-height: 28px;
	padding: 100px 0 0;
	box-shadow: inset 1px 1px 0 rgba(0, 0, 0, .1),inset 0 -1px 0 rgba(0, 0, 0, .07);
}
::-webkit-scrollbar:hover {
    background-color:rgba(0,0,0,.1);
}
::-webkit-scrollbar {
	overflow: visible;
	width: 12px;
	background-color: rgba(0,0,0,.1);
}
*/
.sep {  
  background-size: 100% 1px, 100% 1px, auto;
  background-position: 50% 100%, 50% 100%, 50% 0;
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-origin: padding-box, border-box, padding-box;
  border-bottom: 1px solid transparent;
  background-image:
      linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)),
      linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0)),
      radial-gradient(50% 100%, ellipse cover, rgba(0,0,0, 0.05), rgba(0,0,0,0) 50%);
  background-image:
      -o-linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)),
      -o-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0)),
      -o-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0, 0.05), rgba(0,0,0,0) 50%);
  background-image:
      -ms-linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)),
      -ms-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0)),
      -ms-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0, 0.05), rgba(0,0,0,0) 50%);
  background-image:
      -moz-linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)),
      -moz-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0)),
      -moz-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0, 0.05), rgba(0,0,0,0) 50%);
  background-image:
      -webkit-linear-gradient(0deg, rgba(0,0,0,0), rgba(0,0,0,0.1) 50%, rgba(0,0,0,0)),
      -webkit-linear-gradient(0deg, rgba(255,255,255,0), rgba(255,255,255,0.8) 50%, rgba(255,255,255,0)),
      -webkit-radial-gradient(50% 100%, ellipse cover, rgba(0,0,0, 0.05), rgba(0,0,0,0) 50%);
  width:100%;
  clear:both;
  height:1px;
  margin:9px 0 10px 0;
}

//--------------------------- Bootstrap Overrides ---------------------------// 


::selection {
  color: white;
  background-color:darkorange;
}

a:focus, .btn:focus{
	outline: none;
}

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color:orange;
	background-image: -webkit-linear-gradient(top, orange, darkorange);
	background-image: -moz-linear-gradient(top, orange, darkorange);
	background-image: -o-linear-gradient(top, orange, darkorange);
  background-image: -ms-linear-gradient(top, orange, darkorange);
  background-image: linear-gradient(top, orange, darkorange);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: orange;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
}
.tooltip {
  z-index:2080;
}
.navbar .btn-navbar {
  float:left;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: orange;
}
.nav {
  margin-bottom: 2px;
}
.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
	background-image: url("/packages/bootstrap/img/glyphicons-halflings-white.png");
}
