/**
 * main.less
 * Aduno project (http://aduno.braden.in)
 * @author Braden Simpson (@bradensimpson)
 */

//--------------------------- Mixins ---------------------------// 
.border-radius (@radius) {
	border-radius: @radius;
	-moz-border-radius: @radius;
	-webkit-border-radius: @radius;
}
.transition-all (@length: .25s) {
	transition: all @length;
	-webkit-transition: all @length;
	-moz-transition: all @length;	
}
.abspos-left {
	position:absolute;
	top:0;
	left:0;
}
.abspos-right {
	position:absolute;
	top:0;
	right:0;
}
.unselectable {
	-khtml-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	cursor: pointer;
}
.box-shadow (@x, @y, @blur, @sat, @color) {
	-moz-box-shadow: @x @y @blur @sat @color;
	-webkit-box-shadow: @x @y @blur @sat @color;
	box-shadow: @x @y @blur @sat @color;
}
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @sat: 1px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur @sat rgba(0, 0, 0, @alpha);
}

//--------------------------- Colors ---------------------------// 

@orange		: #e74c3c;
@darkorange   : #c0392b;
@white		: white;
@lightgrey: lightgrey;
@darkblue : slateblue;
@darkgrey : darkgrey;
@login-gradient1 : #E34C00;
@login-gradient2 : #FFDD00;
@wi-sidebar-width : 400px;
@wi-dialog-width : 500px;

//--------------------------- Links ---------------------------// 

a {
	.transition-all;
  text-decoration: none !important;
}
a.darkLink {
  color: @lightgrey;
}
a.lightLink {
  color: @darkblue;
}
a:hover {
  color:@orange;
}

//--------------------------- Banner ---------------------------// 

#notifier-wrapper {
  display:none;
  position:absolute;
  width:100%;
  top:42px;
  text-align:center;
  .alert {
    text-align: left;
    width:auto;
    margin: 0 auto;
    display: inline-block;
  }
}
.search-form {
  height:100%;
  margin-bottom:0px;
  display:none;
  input {
    width:250px;
    margin-bottom:0;
    font-size: 15px;
    line-height: 32px;
    .border-radius(0);
    height:100%;
    border:none;
    outline:none;
  }
}

.loading-bar {
  background-color: papayaWhip;
  font-size:14px; 
  color:black;
  text-shadow:0 -1px 0 white; 
  position:absolute;
  left:48%;
  top:0;
  border-bottom-left-radius:3px;
  border-bottom-right-radius:3px;
  z-index:9999;
  padding:3px;
}
.adunoTitle {
  color: @orange;
  text-shadow: 0 1px 0 white;
}
.logo-nav{
  background: url('/aduno-logo-nav.png');
}

#aduno-logo {
  cursor:pointer;
}

.mainBanner {
  padding-bottom:30px;
  min-width:660px;
}
.topForm {
  width:100%;
  margin-top:20px;
  display:inline-block;
  margin-right:50px;
  min-width:660px;
}
.navbar .nav > li > a.btn {
  float: none;
  padding: 4px 15px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  margin-left: 15px;
  vertical-align: baseline;
}

.navbar-inner {
  border: 0;
}

#navbar {
  border-bottom: 1px solid #AAA;
}

#user-count {
  background-color: #f3f3f3;
  border-radius: 15px;
  padding: 2px 5px;
}

.logoutButton {
  width: 105px;
  margin: 0 auto;
}

//--------------------------- Login Splash ---------------------------//

.jumbotron {
  position: relative;
  padding: 40px 0 20px 0;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: @login-gradient1; /* Old browsers */
  background: -moz-linear-gradient(45deg,  @login-gradient1 0%, @login-gradient2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,@login-gradient1), color-stop(100%,@login-gradient2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* IE10+ */
  background: linear-gradient(45deg,  @login-gradient1 0%,@login-gradient2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#E34C00', endColorstr='#FFDD00',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
}
.jumbotron h1 {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
}
.jumbotron p {
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  margin-bottom: 30px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
  color: #fff;
  color: rgba(255,255,255,.5);
  -webkit-transition: all .2s ease-in-out;
     -moz-transition: all .2s ease-in-out;
          transition: all .2s ease-in-out;
}
.jumbotron a:hover {
  color: #fff;
  text-shadow: 0 0 10px rgba(255,255,255,.25);
}

/* Download button */
.masthead .btn {
  padding: 14px 24px;
  font-size: 24px;
  font-weight: 200;
  color: #fff; /* redeclare to override the `.jumbotron a` */
  border: 0;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
  -webkit-transition: none;
     -moz-transition: none;
          transition: none;
}
.masthead .btn:hover {
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
     -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
          box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 5px rgba(0,0,0,.25);
}
.masthead .btn:active {
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
     -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
          box-shadow: inset 0 2px 4px rgba(0,0,0,.1), 0 1px 0 rgba(255,255,255,.1);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
  position: relative;
  z-index: 2;
}
.jumbotron:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url() repeat center center;
  opacity: .4;
}

/* Masthead (docs home)
------------------------- */
.masthead {
  padding: 100px 0 50px 0;
  margin-bottom: 0;
  color: #fff;
}
.masthead h1 {
  font-size: 120px;
  line-height: 1;
  letter-spacing: -2px;
}
.masthead p {
  font-size: 40px;
  font-weight: 200;
  line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
  margin: 0;
  list-style: none;
}
.masthead-links li {
  display: inline;
  padding: 0 10px;
  color: rgba(255,255,255,.25);
}

.masthead .btn {
  line-height: 25px;
}

.splash-logo {
  background: url('/aduno-logo.png');
}

.button_subtext {
  font-size: 12px;
  color: #ccc;
}

#user-create {
  display:none;
}

//--------------------------- Chat ---------------------------//

#chat-container{
  bottom: 50px;
  position: absolute;
  width: 212px;
}

#chat-header {
  cursor: pointer;
  border-top: 1px solid #B6B6B6;  
  background: #D6D6D6;
  color: #555;
}
.chat-closed {
  display:none;
}
.chat-closed + #chat-entry {
  display:none;
}

#chat-content {
  background-color: #fcfcfc;
  padding: 5px;
  overflow: auto;
  height: 200px; // TODO: make this responsive
}

.chat-message {
  font-size: 12px;
  display: block;
  border-bottom: 1px dashed #ddd;
}

#chat-entry {
  margin-bottom: 2px;
}

#chat-entry #message {
  width: 178px;
  margin: 0;
}

//--------------------------- WorkItems ---------------------------//

.synchronized {
	background: #2CC03E;
  border-color: #259A33;
  border-right-color: #2CC03E;
  border-bottom-color: #2CC03E;
}

#work-item-title-editor, #story-item-title-editor {
  display:none;
  position:absolute;
  z-index:1060;
  textarea {
    resize: none;
    width:100%;
    padding:0 5px;
    .border-radius(0);
    background:rgb(240,240,240);
    outline:none;
    border:none;
  }
}
#work-item-title-editor, #story-item-title-editor{
  textarea {
    font-size:14px;
    font-weight:bold;
  }
}
.workItem, .storyItem {
  .itemTitle {
    margin-top:25px;
    font-size:14px;
    text-shadow: 0 1px 0 white;
    border-radius:3px;
    &:hover {
      background-color: rgba(0,0,0,.05);
    }
  }
  .btn-toolbar {
    margin:0; 
    height: 25px !important;
	  opacity: .5;
    .abspos-left;
    border-top-right-radius:0px;
    border-bottom-left-radius:0px;
  }
  .linkWI {
    border-bottom-left-radius:0 !important;
  }
  .actions {
    border-top-right-radius:0 !important;
  }
  .editing-div {
    position:absolute;
    left: 0px;
    bottom:0px;
    .editing-list {
      margin-bottom:0;
      li {
        display:inline-block;
      }
    }
  }
	.abspos-left;
  .unselectable;
  overflow: hidden;
  .border-radius(0);
  border: thin solid lightgrey;
  background-color: #edeff1;
  width: 215px;
  padding: 1px 5px;
}
.workItem:hover .btn-toolbar, .storyItem:hover .btn-toolbar {
  opacity:1;  
}
.top {
  z-index: 2;
}
.bottom {
  z-index: 1;
}
a.wiDelete {
  .abspos-right;
  opacity:.6;  
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius:0;
}
a.wi-sync {
  .abspos-right;
  opacity: .6;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 0;
  right:19px;
}
a.wiDelete:hover, a.wi-sync:hover {
  opacity:1;
}
//--------------------------- Workboard ---------------------------// 
.workboard-toolbar {
	margin-bottom:10px;
  height: 40px;
  .btn-toolbar {
    padding: 5px 0 0 10px;
  }
}
.canvas-container {
  margin:40px 0 0 0;
  padding: 0 0 20px 212px;
  border:none;
}
.canvas-container > canvas {
  background-color: rgb(250,250,250);
  border-top: 1px solid #EEE;
  border-left: 1px solid #EEE;
  border-bottom: 2px solid #DDD;
  border-right: 2px solid #DDD;
	.inner-shadow(0, 0, 1px, 1px, 0.05);
  margin-left: 10px;
}
//--------------------------- Workflow ---------------------------// `
.workflow-panel {
  display: block;
  vertical-align: top;
  width: 197px;
  padding:0;
  .filter-labels {
    padding-right: 0;
  }
	li > a:hover {
	  background-color: fade(#e74c3c, 20%) !important;
	}
	li:hover a.workflow-item {
	  display:block;
	} 
	li:nth-child(2n) > a {
	  background-color: rgba(0,0,0,.02);
	  border-top: 1px solid lightgrey;
	  border-bottom: 1px solid lightgrey;
	}
	li:nth-child(2n+1) > a {
	  border-top:1px solid white;
	  border-bottom:1px solid white;
	}
	li:last-child > a {
	  border-bottom:none;
  }
  li.active > a {
    background-color:fade(@orange, 80%) !important
  }
	li > a {
	  height:13px;
    overflow:hidden;
    text-overflow: ellipsis;
    word-break:break-all;
    color: #444;
	  font-size: 11.844px;
		font-weight: bold;
		line-height: 14px;
	}
  a.first-button {
    cursor: pointer;
    border:none !important;
    position:relative;
    right:21px;
    display:none;
    border:none;
    float:right;
    padding:2px;
    top:1px;
    height:16px;
    width:19px;
  }
  a.first-button:hover {
    background-color: rgba(100, 255, 100, .5) !important;
  }
  a.second-button:hover {
    background-color: rgba(255, 100, 100, .5) !important;
  }
  a.second-button {
    right:0px;
    text-align:center;
    padding:3px;
    top:1px;
    width:15px;
    float:right;
    cursor:pointer;
    position:relative;
    display:none;
    border:none !important;
  }
}
//--------------------------- Dialogs ---------------------------// 
.modal {
  .modal-body { 
    overflow-y: auto !important;
    padding: 40px 15px;
  }
}
.label-color-wrapper {
  position:relative;
  .color-block {
    outline: 0px;
    position:absolute;
    left: 213px;
    top:0;
    background-color: grey;
    height: 30px;
    width: 30px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
}

#wiDetailsDialog > .wi-details-sidebar {
  .inner-shadow(0,0,15px,0);
  padding:15px;
  height:100%;
  top:0;
  right:-@wi-sidebar-width;
  width: @wi-sidebar-width;
  background-color:white;
  position: absolute;
}
#wiDetailsDialog {
  /*margin-left: -@wi-sidebar-width;*/
  /*width:@wi-dialog-width;*/
  /*position:relative;*/
  #assignee-stages-list {
    margin:0;
    padding-top:5px;
    li {
      padding-left:0;
    }
    list-style:none;
  }
  .wi-assignee-wrapper {
    padding: 5px 5px;
  }
  .modal-body { 
    max-height: 600px;
  }
  #wiDescDetails {
    min-height:90px;
  }
  .wi-link-item { 
    span {
      width: 80%;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .add-label, .add-link {
    cursor: pointer;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    text-shadow: 0 -1px 0 rgba(255,255,255,0.9);
    white-space: nowrap;
    vertical-align: baseline;
    a {
      color:grey;
    }
  }
  .add-label:hover, .add-link:hover { 
    background-color: rgba(0, 150, 0, 0.2);
  }
}

#label-selection-dialog {
  li {
    cursor: pointer;
  }
}
ul.tags {
  list-style:none;
  margin:0;
}
ul.tags li {
  display: block;
  padding: 4px 8px;
  width:206px;
}
ul.tags li a.meta {
  float: right;
  color: #bbb;
  width: 15px;
  text-align: center;
  cursor: pointer;
} 
ul.tags li:hover {
  background: #f0f0f0;
}       
ul.tags li a.delete:hover {
  background:rgba(255,0,0,.5);
  color: white;
}
.modal.fade {
  .transition-all(.15s);
  top: 8%;
}
#select-repo-dialog { 
  .repo-grid-item {
    margin-bottom: 5px; 
    width: 24%;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

//--------------------------- Login Dialog --------------------//
#login-dialog {
  .sep {
    height:0;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 20px;
    border-bottom:thin dashed lightgrey;
  }
  .github-label {
    padding-top:25px;
  }
  .github-login {
    width:180px;
    span {
      font-size:14px;
      color:#EEE;
    }
  }
} 

//--------------------------- About ---------------------------// 

.darkWell {
  background-color: rgba(0,0,0,.5);
  border: 1px solid rgba(0, 0, 0, 0.7);
  color:slategrey;
}
.about {
  h1, h2, h3 {
    color:white;
    text-shadow: 0 1px 2px black;
  }
  .tech li {
    list-style-type:none;
  }
  .darkWell {
    min-height:150px;
  }
  .row-fluid {
    width: 94%;
    padding: 15px 3%;
  }
  .box-shadow(-5px, 0, 20px, 1px, rgb(50,50,50));
  background: url('/px_by_Gre3g.png');
  border-top:1px dashed grey;
  min-height:400px;
  font-size:14px;
}

//--------------------------- Getting Started ---------------------------// 

.getting-started {
	.well {
    min-height: 150px;
	}
	h1, h2, h3 {
    color:black;
    text-shadow: 0 1px 2px white;
  }
  .box-shadow(-5px, 0, 20px, 1px, rgba(255,255,255,.5));
	border-top:1px dashed grey;
	min-height:400px;
	width:90%;
	padding:5%;
	font-size:14px;
	background-color: #EEE;
}

//--------------------------- Left Menu ---------------------------// 
#left-menu {
  width: 212px;
  height: 100%;
  display: inline-block;
  vertical-align: top;
  position: fixed;
  top: 0px;
  padding: 50px 0 0 0;
  background: whiteSmoke;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  .nav-tabs {
    /*background: #D6D6D6;*/
    height: 40px;
    margin-bottom: 0;
    border:0;
    border-bottom: 1px solid #E74C3C;
    a {
      border: 0;
      line-height: 30px;
      padding: 5px 15px;
    }
  }
}

//--------------------------- Components ---------------------------// 


//--------------------------- Bootstrap Overrides ---------------------------// 

ul {
  li {
    list-style-type:none;
  }
  margin:0;
}

.btn, .modal, .badge {
  .border-radius(0) !important;
}

::selection {
  color: white;
  background-color:@darkorange;
}

a:focus, .btn:focus{
	outline: none;
}

.dropdown-menu {
  display:block;
  visibility: hidden;
  opacity:0;
  .transition-all(.25s);
  z-index:1051;
}
ul li.dropdown:hover ul.dropdown-menu{
  visibility: visible;
  opacity:1;
  margin-top:-4px;
}
.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
	background-color: rgb(185,45,37);
	background-image: -webkit-linear-gradient(to bottom, @orange, @darkorange);
	background-image: -moz-linear-gradient(top, @orange, @darkorange);
	background-image: -o-linear-gradient(top, @orange, @darkorange);
  background-image: -ms-linear-gradient(top, @orange, @darkorange);
  background-image: linear-gradient(to bottom, @orange, @darkorange);
  /*background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);*/
  background-repeat: repeat-x;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  .border-radius(0);
}
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: @orange;
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 165, 0, .6);
}
.tooltip {
  .tooltip-inner {
    .border-radius(0);
  }
  z-index:1080;
  white-space:nowrap;
}
.navbar .btn-navbar {
  float:left;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
  background-color: @orange;
}
.nav {
  margin-bottom: 2px;
}
.icon-white, .nav-tabs > .active > a > [class^="icon-"], .nav-tabs > .active > a > [class*=" icon-"], .nav-pills > .active > a > [class^="icon-"], .nav-pills > .active > a > [class*=" icon-"], .nav-list > .active > a > [class^="icon-"], .nav-list > .active > a > [class*=" icon-"], .navbar-inverse .nav > .active > a > [class^="icon-"], .navbar-inverse .nav > .active > a > [class*=" icon-"], .dropdown-menu > li > a:hover > [class^="icon-"], .dropdown-menu > li > a:hover > [class*=" icon-"], .dropdown-menu > .active > a > [class^="icon-"], .dropdown-menu > .active > a > [class*=" icon-"] {
	background-image: url("/packages/bootstrap/img/glyphicons-halflings-white.png");
}
