<template name="newLabelDialog">
  <div class="modal hide" id="newLabelDialog" editing-wi-id='' tabindex="-1" role="dialog" aria-labelledby="labelDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Edit Label</h3>
    </div>
    <div class="modal-body">
    <form class="form-horizontal" onkeypress="return event.keyCode != 13;">
      <div class="control-group">
        <label class="control-label" for="labelName">Name: </label>
        <div class="controls">
          <input type="text" id="labelName"></input>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="labelColor">Color: </label>
        <div class="controls">
          <input id="labelColor" value="#AA342E"></input>
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <button class="btn new-label-dialog-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary new-label-dialog-save">Save changes</button>
    </div>
  </div>
</template>