<template name="warningDialog">
  <div class="modal fade hide" id="warningDialog" tabindex="-1" role="dialog" aria-labelledby="warningDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="warning-dialog-header">Warning</h3>
    </div>
    <div class="modal-body">
      <div class="alert">
			  <p class="warning-dialog-message">
			  </p>
			</div>
    </div>
    <div class="modal-footer">
      <button class="btn warning-dialog-cancel" data-dismiss="modal" aria-hidden="true">Cancel</button>
      <button class="btn btn-primary warning-dialog-ok">Ok</button>
    </div>
  </div>
</template>