<template name="wiDialog">
  <div class="modal hide" id="wiDetailsDialog" editing-wi-id='' tabindex="-1" role="dialog" aria-labelledby="wiDialogLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="detailsTitle">Workitem Details</h3>
    </div>
    <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="wiNameDetails">Name: </label>
        <div class="controls">
          <input type="text" id="wiNameDetails"></input>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="wiLabels">Labels: </label>
        <div class="controls wi-labels-controls">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="wiDescDetails">Description: </label>
        <div class="controls">
          <textarea id="wiDescDetails"></textarea>
        </div>
      </div>
      <div class="control-group wiAssignee">
        <label class="control-label" for="wiAssigned">Assignee: </label>
        <div class="controls">
          <input id="wiAssigneeInput" class="typeahead" type='text' data-provide="typeahead" placeholder="Type a username...">
          {{#if isAssigned }}
            <span class="label {{ assignee.badge }}">
              {{ getAssignee }}
            </span>
          {{/if}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="wiLinks">Links: </label>
        <div class="controls wi-links-controls">
        </div>
      </div>
    </form>
    </div>
    <div class="modal-footer">
      <button class="btn wiDialogCancel" data-dismiss="modal" aria-hidden="true">Close without syncing</button>
      <button class="btn btn-primary wiDialogSave">Save and Sync</button>
    </div>
  </div>
</template>