<template name="about">
  <div class="about data-scroll-section" id="about">
    <div class="row-fluid">
      <div class="span4"><h1>What is Aduno?</h1>
        <p class="darkWell well">
        <span style='color:orange'>Aduno</span> is a open source real time collaborative articulation and task creation tool.
        It is written by <a href="http://braden.in">Braden Simpson</a> and <a href="http://fireworksdesign.ca">Nathan Lambert</a> at
        the <a href="http://uvic.ca">University of Victoria</a>.
        It is a tool created for the Computer Supported Cooperative Work class.
        </p>
      </div>
      <div class="span4">
        <h1>Contact</h1>  
        <p class="darkWell well">
          Get in contact with me on twitter at <a href="http://twitter.com/bradensimpson">@bradensimpson</a>,
          or feel free to email me at braden (at) uvic dot ca.
        </p>
      </div>
      <div class="span4">
        <h1>Get Involved</h1>  
        <p class="darkWell well">
          Want to help?  Want to use the tool for yourself? <br/>
          Feel free to fork the project at <a href="http://github.com/bradens/Aduno">github</a>
          or email me to see how you can help.
        </p> 
      </div>
    </div>
    <div class="row-fluid tech">
      <div class="span6">
        <h1>Disclaimer</h1>
        <div class="darkWell well">
          <p>
            <span style='color:orange'>Aduno</span> is still very much an infant, and none of the full
            functionality is there yet.  Follow the <a href="http://github.com/bradens/Aduno">github repo</a> for information and
            updates.
          </p>
        </div>
      </div>
      <div class="span6">
        <h1>Technology</h2>
        <div class="darkWell well">
          <p><span style="color: orange">Aduno</span> proudly uses the following : 
          <ul>
            <li>
              <a href="http://meteor.com">meteorjs</a>
            </li>
            <li>
              <a href="http://nodejs.org">node</a>
            </li>
            <li>
              <a href="http://yeoman.io">yeoman</a>
            </li>
            <li>
              <a href="http://twitter.github.com/bootstrap">Twitter Bootstrap</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>