<template name="chat">
  <a id="chat-header" rel="tooltip" data-original-title="Click to toggle chat." class="nav-header">Chat</a>
  <div id="chat-content" class="{{{isClosed}}}">      
    {{#each messages}}
      <div class="chat-message"><strong>{{ name }} (<span class="username">{{getUniqueName}}</span>)</strong>: {{message}}</div>
    {{/each}}
  </div>
</template>
<template name="chatEntry">
  <div id="chat-entry" class="well well-small">
    <input type="text" placeholder="Type a message..." class="span2" id="message">
  </div>
</template>