<template name="gettingStarted">
<div class="getting-started data-scroll-section" id="gettingStarted">
    <div class="row-fluid">
      <div class="span12">
        <h1>Welcome to <span class="adunoTitle">Aduno</span></h1>
        <h2 style="font-weight:lighter;display:inline-block;"><i style="color:grey">To Unite, Make <span style="color:orange"> One</span></i></h2>
      </div>
    </div>
    <div class="row-fluid">
			<div class="span6">
				<p class="well">
			    <span style='color:orange'>Aduno</span> TODO write getting started.
			  </p>
			</div>
    </div>
</div>
</template>