<template name="main">
	<div class="canvas-container well data-scroll-section" id="wb">
	  <div class="workboard-toolbar">
	    <a id="newWorkItem" class="btn"><i class="icon-plus"></i> Create Workitem</a>
	    <a id="synchronize" class="btn"><i class="icon-refresh"></i> </a>
	  </div>
	  <div class="workflow-panel well-small">
	    <ul class="filter-labels nav nav-list">
	      <li class="nav-header">Filter by label</li>
	      <li class="active"><a href="#" class="all">all</a></li>
	      {{#each labels }}
	        {{> labelItem }}
	       {{/each}}
	    </ul>
	  </div>
	  <canvas width="1000px" height="1000px" id="myCanvas">          
	  </canvas>	
	  {{#each workitems}}
	     {{> workitem}}
	  {{/each}}
	</div>
</template>