<template name="main">
	<div class="canvas-container well data-scroll-section" id="wb">
	  <div>
	    <a id="newWorkItem" class="btn" style="margin-bottom:10px;">Create Workitem</a>
	  </div>
	  <canvas width="1000px" height="1000px" id="myCanvas">          
	  </canvas>	
	  {{#each workitems}}
	     {{> workitem}}
	  {{/each}}
	</div>
</template>

<template name="fuck">
  <div class="well peopleList span4">
	  <h3 style="color:grey">Users</h3>
	  <div class="sep"></div>
	  <ul>
	    {{#each people}}
	      {{> person}}
	    {{/each}}
	  </ul>
	</div>
</template>