<template name="topNav">
  <ul class="nav">  
    <a id="aduno-logo"><img src="aduno-logo-nav.png" alt="Aduno" /></a>
	</ul>  
	{{#if areServicesConfigured}}
  	<ul class="nav pull-right">
    	{{#if getRepoID}}
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" href="#"><span id="user-count" style="border-left: 15px solid {{ otherUsersColor }};">{{ userCount }}</span> Current Users<span class="caret"></span></a>
          <ul class="dropdown-menu">
            {{#each people }}
              {{> person }}
            {{/each}}
          </ul>
        </li>
      {{/if}}
      {{#if loggingIn }}
        <li><span class="loadingUser">Loading</span></li>
  	  {{else}}
        {{#if currentUser}}
          <li class="dropdown">
            <a href="#" data-toggle="dropdown" href="#"><i class="icon-th-large"></i> {{ currentRepoName }}<span class="caret"></span></a>
            <ul class="dropdown-menu">
              {{#each currentRepos }}
                {{> currentRepo }}
              {{/each}}
            </ul>
          </li>
          <li class="divider-vertical"></li>

        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{currentUser.profile.name}}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a class="logoutButton btn">Logout</a>
            </li>
          </ul>
        </li>

        {{/if}}
  	  {{/if}}
	  </ul>
  {{/if}}
</template>
