<template name="topNav">
  {{#if userLogin}}
    <div class="navbar navbar-fixed-top" id="navbar">  
      <div class="navbar-inner">  
        <div class="container-fluid">
          <ul class="nav">  
            <a id="aduno-logo"><img src="aduno-logo-nav.png" alt="Aduno" /></a>
        	</ul>  
        	{{#if areServicesConfigured}}
            <ul class="nav pull-right">
              <li>
                <div class="search-form">
                  <input type="text" rel='tooltip' title="Find a repository<br>For example. 'bradens/aduno'" placeholder="bradens/Aduno" id="repo-search-input" />
                </div>
              </li>
              {{#if loggingIn }}
                <li><span class="loadingUser">Loading</span></li>
              {{else}}
                {{#if currentUser}}
                  <li class="dropdown" id="repo-select-dd-wrapper">
                    <a class="dropdown-toggle" href="#"><i class="icon-th-large"></i> {{ currentRepoName }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      {{#each currentRepos }}
                        {{> currentRepo }}
                      {{/each}}
                    </ul>
                  </li>
                  <li class="dropdown" id="notifications-dd-wrapper">
                    <a id="notifications-dd-btn" class="dropdown-toggle" href="#">
                    <span class="notification-count-wrapper"><i class="icon-flag"></i>
                      {{#if hasNotifications}}
                        <span class="notification-count"> {{{ notificationCount }}}</span>
                      {{/if}}
                    </span>
                    </span>Notifications <span class="caret"></span></a>
                    <ul class="notifications-dd-menu dropdown-menu">
                      {{#if hasNotifications }}
                        {{#each notifications}}
                          {{> NotificationDropdownItem }}
                        {{/each}}
                      {{else}}
                        <div class="caught-up">
                          <h3><i class='icon-thumbs-up'></i> You're all caught up!</h3>
                          <a id="view-notifications" class="btn">All notifications</a>
                        </div>
                      {{/if}}
                    </ul>
                  </li>
                  <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown" href="#"><i class="icon-user"></i> {{currentUser.profile.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li>
                        <a class="logoutButton btn">Logout</a>
                      </li>
                    </ul>
                  </li>
                {{/if}}
              {{/if}}
            </ul>
          {{/if}}
        </div>  
      </div>
    </div> 
  {{/if}}
</template>
