<template name="workflowMenu">
  <div id="left-menu" class="tabbable">
    <ul class="nav nav-tabs">
      <li class="{{{ getLabelPaneActive }}}">
        <a href="#tab-labels" data-toggle="tab" rel="tooltip" data-placement="bottom" title="Labels"><i class="icon-tags"></i> </a>
      </li>
      <li class="{{{ getStoryPaneActive }}}">
        <a href="#tab-stories" data-toggle="tab" rel="tooltip" data-placement="bottom" title="Stories"><i class="icon-flag"></i> </a>
      </li>
      <li>
        <a href="#tab-workitems" data-toggle="tab" rel="tooltip" data-placement="bottom" title="WorkItems"><i class="icon-briefcase"></i> </a>
      </li>
      <li>
        <a href="#tab-settings" data-toggle="tab" rel="tooltip" data-placement="bottom" title="Settings"><i class="icon-cog"></i> </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane {{{ getLabelPaneActive }}}" id="tab-labels">
        {{> labels }}
      </div>
      <div class="tab-pane {{{ getStoryPaneActive }}}" id="tab-stories">
        {{> tabStories }}
      </div>
      <div class="tab-pane" id="tab-workitems">
        {{> tabWorkitems }}
      </div>
      <div class="tab-pane" id="tab-settings">
        {{> tabSettings }}
      </div>
    </div>
    <div id="chat-container">
      {{> chat }}
      {{> chatEntry }}
    </div>
  </div>
</template>