<template name="workitem">
  {{ redrawAfterUpdate }}
  <div class="workItem" id="wi_{{ _id }}" data-wi-id="{{ _id }}" style="top: {{ top }}px; left: {{ left }}px;">
    <div class="btn-toolbar">
      <div class="btn-group">
        <a class="linkWI btn btn-mini btn-success">Link</a>
        <a class="btn btn-mini btn-info details">Details</a>
        <a class="actions btn btn-mini btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
          Actions
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li>
            <a href="#">Create Child</a>
          </li>
          <li>
            <a class="postIssue" href="#">Post as Issue</a>
          </li>
        </ul>
      </div>
    </div>
    <h4 class="workItemTitle">{{ name }}</h4>
    <a class="btn btn-mini btn-danger wiDelete">×</a> 
    <div class="sep"></div>
    <div class="editable" contenteditable="true">
      <p class="description" >{{ description }}</p>
    </div>
  </div>
</template>