<template name="workflowMenu">
  <div id="left-menu" class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#tab-labels" data-toggle="tab" rel="tooltip" title="Labels"><i class="icon-tags"></i> </a>
      </li>
      <li>
        <a href="#tab-milestones" data-toggle="tab" rel="tooltip" title="Milestones"><i class="icon-flag"></i> </a>
      </li>
      <li>
        <a href="#tab-workitems" data-toggle="tab" rel="tooltip" title="WorkItems"><i class="icon-briefcase"></i> </a>
      </li>
      <li>
        <a href="#tab-settings" data-toggle="tab" rel="tooltip" title="Settings"><i class="icon-cog"></i> </a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="tab-labels">
        {{> labels }}
      </div>
      <div class="tab-pane" id="tab-milestones">
        {{> milestones }}
      </div>
      <div class="tab-pane" id="tab-workitems">
        Workitems
      </div>
      <div class="tab-pane" id="tab-settings">
        {{> settings }}
      </div>
    </div>
    <div id="chat-container">
      {{> chat }}
      {{> chatEntry }}
    </div>
  </div>
</template>